.header {
    width: 100%;
    height: 60px;
    padding-top: env(safe-area-inset-top);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--ion-color-dark-blue);
    color: white;
}