<div class="wrapper">
    <div class="barra" (click)="selectCategoria(item)" *ngFor="let item of data" [ngClass]="{'opacity' : categoriaSelecionada.guid != item.guid && categoriaSelecionada.guid != null}" [style.background-color]="item.cor" [style.width]="item.porcentagem"></div>
</div>
<div class="detalhe" *ngIf="hideDetail == false && (scrollPosition < 50 && categoriaSelecionada.guid)">
    <div class="icon">
        <img src="../../../../assets/icon/sunbed.png">
    </div>
    <div class="nome">
        <div class="descricao">{{categoriaSelecionada.label}}</div>
        <div class="porcentagem">{{categoriaSelecionada.porcentagem}}</div>
    </div>
    <div class="informacoes">
        <div class="preco">{{categoriaSelecionada.preco | currency:'R$'}}</div>
    </div>
    <div class="close-button" (click)="clearCategoria()">
        <ion-icon name="close"></ion-icon>
    </div>
</div>
<div class="detalhe msg" *ngIf="hideDetail == false && (scrollPosition < 50 && !categoriaSelecionada.guid)">Escolha uma categoria</div>