ion-content {
    --background: #f8f8f8;
    -webkit-overflow-scrolling: auto !important;
}

.chart{
    width: 100%;
    height: 150px;
    background-color: #e7e7e7;
    padding: 15px;
    text-align: center;
    position: relative;

    .linkDetalhes {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 10px;
        color: #797979;
        padding: 15px;
        letter-spacing: 0.8px;
    }
}
