.wrapper {
    width: 100%;
    display: inline-flex;

    .icon {
        width: 45px;
        padding: 10px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;

        > img {
            width: 20px;
        }
    }

    .descricao {
        width: calc(100% - 120px);
        height: 100%;
        padding: 10px;
        font-size: 14px;

        > .categoria {
            font-size: 11px;
            font-weight: bold; 
        }

        > .nome {
            font-size: 12px; 
        }

        > .preco {
            font-size: 11px;
            margin-bottom: 5px;
        }

        > .tag {
            font-size: 10px;
        }
    }

    .data {
        width: 75px;
        height: 100%;
        padding: 10px;
        font-size: 10px;
    }
}