ion-content {
    --background: #f8f8f8;
    -webkit-overflow-scrolling: auto !important;
    --padding-bottom: 64px;
}

.chart{
    width: 100%;
    background-color: #e7e7e7;
    padding: 15px 15px 15px 15px;
    text-align: center;
    position: relative;
    z-index: 999;

    .linkDetalhes {
        width: 100%;
        text-align: center;
        font-size: 10px;
        color: #797979;
        padding: 15px;
        letter-spacing: 0.8px;
    }
}