ion-content {
    --background: #e7e7e7;
    -webkit-overflow-scrolling: auto !important;
    --padding-bottom: 64px;
}

.chart{
    width: 100%;
    background-color: #e7e7e7;
    padding: 15px 15px 15px 15px;
    text-align: center;
    position: relative;
    z-index: 999;

    .linkDetalhes {
        width: 100%;
        text-align: center;
        font-size: 10px;
        color: #797979;
        padding: 15px;
        letter-spacing: 0.8px;
    }
}

.item {
    background-color: #e7e7e7;
    width: 100%;
    padding: 15px;
    border-bottom: .5px solid #ccc;

    &:last-child {
        border-bottom: none;
    }

    > .label {
        padding: 0px 13px 13px 0px;
        font-size: 11px;
        font-weight: bold;
    }

    > .progress {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        > .icon {
            width: 30px;
            justify-content: center;
            align-items: center;

            > img {
                width: 20px;
            }
        }

        > .bar {
            width: calc(100% - 60px);
            justify-content: center;
            align-items: center;
            padding: 0 15px;
        }

        > .preco {
            font-size: 11px;
            font-weight: bold;
        }
    }
}

.opacity {
    opacity: .3;
}